.SideBar {
   background-color: var(--gray-accent-color);
   padding-top: 20px;
   transition: 0.5s;
}

.SideBarClosed {
   width: 74px;
   overflow-x: hidden;
} 

.SideBarOpen {
   width: auto;
}

#Hamburger {
   position: relative;
   display: block;
   cursor: pointer;
   outline: none;
   border: none;
   background-color: transparent;
   margin-left: 15px;
   color: white;
   font-size: 1.75em;
}

.SideBar ul {
   padding:0;
   margin: 0;
   margin-top: 45px;
   list-style-type: none;
   
}

.SideBar li {
   list-style: none;
   position: relative;
   display: block;
   display: flex;
   padding: 0;
   margin:0;
   margin-bottom: 50px;
   height: 60px;
   
}

.SideBar a {
   width: 100%;
}

.SideBar a:hover {
   color: none;
}

.AppName {
   font-size: var(--medium-font-size);
   display: inline-block;
   margin-left: 35px;
   padding-left: 39px;
   padding-top: 10px;
   color: black;
   text-overflow: ellipsis;
   white-space: nowrap;
   
}

.AppIcon {
   font-size: 1.75em;
   position:absolute;
   padding: 10px;
   display: flex;
   color:black;
   width: 60px;
   height: 60px;
   border-radius: 50%;
   margin-left: 5px; 
}

.Rectangle {
   width: 95%;
   height: 60px;
}

.Current {
   background-color: var(--main-bg-color);
}

.CurrentName {
   color: white;
}

.IconColor {
   background-color: white;
}

.IconSize {
   width: 45px;
   height: 45px;
}

.SideBar i {
   justify-content: center;
}
