
.DataPopup {
    z-index: 1000;
    background-color: #73A8C0;
    position: absolute;
    width: 70em;
}

.CloseButton {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 30px;
    padding: none;
}
